extends template
block content
    div
        | Доступ до сайту можливо відновити
        br
        | Для цього натисніть сюди:
        br
        div
            a(href=frontendUrl + `/password/reset/` + token) тут
