doctype html
html
    head
        style
            include styles/global.css
    body
        div.header

            block content

        div.footer
            | З найкращими побажаннями
            br
            | Наша команда
            a(href=frontendUrl) завітай
